.main-container{
    width: 70%;
    margin: auto;
    justify-content: center;
}

.game {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

#computer-mode{
    border-radius: 25px;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.button-menu {
    width: 200px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

#fill{
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 15px;
    background-color: rgb(79, 190, 176);
    font-family: 'Courier New', Courier, monospace;
}

#restart{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: none;
    color: black;
    font-size: 25px;
    background-color:white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.cell {
    justify-content: center;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    margin:0;
    padding:0;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    /* border:none; */
    border:1px solid #000;
    display:inline-block;
    width: 50px;
    height: 50px;
}

/* transparent border for new mode */
.new-mode{
    border: 1px solid transparent;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    line-height: 50px;
    margin:0;
    padding:0;
    width: 50px;
    height: 50px;
    font-size: 50px;
    display:inline-block;
}

.computer-color {
    background-color: rgb(207, 64, 64);
    color: rgb(241, 241, 241);
}

#winning {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.856);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#message {
    color: white;
    font-size: 150px;
    display: flex;
}

#score{
    width: 400px;
    margin: 0 auto;
    border: solid 1px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 25px;
    overflow: hidden;
    left: 50%;
    top: 50%;
}

#score th, td{
    padding: 10px 15px;
    font-family: 'Courier New', Courier, monospace;
}

#score th{
    background-color: tomato;
    color: rgb(235, 230, 235);
}

.empty-cell {
    background-color: rgb(241, 241, 241);
    color: blue;
    
}

.selected-cell {
    background-color: rgba(196, 196, 255, 0.836);
}

.border-bot{
    border-bottom: solid 3px black;
}

.border-right{
    border-right: solid 3px black;
}

.invalid-cell {
    color: red;
}

.hint-cell{
    color: green;
}


#game-mode{
    border-radius: 25px;
    padding: 10px;
    margin: 15px auto;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(104, 105, 107);
    color: rgb(241, 241, 241);
    border: none;
}

.enter-size{
    width: 500px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

#size {
    width: 50px;
}
